cache/
config/
crash-reports/
logs/
libraries/
versions/
world/
world_the_end/
world_nether/

.console_history
.usercache.json
usercache.json
whitelist.json
version_history.json
permissions.yml
ops.json
help.yml
banned-ips.json
banned-players.json